/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo della pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Modificato per disporre gli elementi in colonna */
}

/* Banner di notifica */
.notification-banner {
    background-color: #ffcc00;
    color: #000;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 20px; /* Aggiungiamo uno spazio sotto il banner */
    border-radius: 5px;
    width: 100%; /* Assicuriamoci che il banner sia largo quanto la pagina */
}

/* Contenitore del form */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Stile per le etichette e gli input */
label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Messaggio di errore */
.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.flash-messages {
    margin-bottom: 20px;
}

.flash {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.flash.error {
    background-color: #ffdddd;
    color: #d8000c;
    border: 1px solid #d8000c;
}

.flash.success {
    background-color: #ddffdd;
    color: #4f8a10;
    border: 1px solid #4f8a10;
}
