<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambia Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='change_password.css') }}">
</head>
<body class="{{ 'dark' if theme == 'dark' else 'light' }}">

    <div class="form-container">
        <h2>Cambia Password</h2>

        <!-- Mostra i messaggi di flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <!-- Form di cambio password per l'admin o per l'utente standard -->
        <form method="POST" action="/change-password">
            {% if role == 'admin' %}
                <!-- Se l'utente è un admin, mostra la lista degli utenti -->
                <div>
                    <label for="user">Seleziona utente:</label>
                    <select name="user" id="user">
                        {% for user in all_users %}
                            print(all_users)  # Aggiungi questa riga per fare debug della lista degli utenti
                            <option value="{{ user }}">{{ user }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            
            <div>
                <label for="new_password">Nuova Password:</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>
            <div>
                <label for="confirm_password">Confermare Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit">Cambia Password</button>
        </form>

        <!-- Bottone per tornare alla dashboard -->
        <a href="/dashboard" class="btn-back-to-dashboard">Torna alla Home</a>
    </div>
</body>
</html>
